.stack{
    background: #1A1A1D;
    color: white;
}
.card{
    color:white;
}

/* ListGroup{
    margin-left: 25%;
    margin-bottom: 80%;
    text-align: left;
    font-family: "Inter";
    font-weight: 700;
    size: 16px;
    line-height: 19.36px;
    display: inline-block;
} */
